@charset "utf-8";
header {
    width: 100%;
    border-bottom: 1px solid;
}
.header_box {
    display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1 {
    font-size: 2rem;
    margin-left: 20px;
}
header a,footer a {
    color: inherit;
    text-decoration: none;
}
nav {
    width:100%;
    text-align: right;
}
header li {
    margin:50px 10px 0;
    font-size: 1.2rem;
    display: inline-block;
}
a:hover {
	color:purple;
}
footer {
    padding: 30px 0;
    width: 100%;
    font-size:0.8rem;
    border-top: 1px solid;
}
footer img {
    margin-left: 50px;
}
.footer_box {
    display: flex;
    align-items:center;
}
.footer_box ul {
    padding-right:50px;
     display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-left: auto; 
}
.footer_box li {
    margin: 0 10px;
    line-height: 1.8;
}
.pagetop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 6px;
    border-radius: 20px;
    opacity: .6;
    background:#F2F0E9;
    color: #333;
    border: 2px solid #555;
}
@media screen and (max-width: 1024px){
footer {
    width:100%;
}
footer li {
    font-size: 0.6rem;
}
}
@media screen and (max-width:770px){
.footer_box {
    width:100%;
}
.footer_box img {
    width: 100%;
    margin: 0 auto;
}
.footer_box ul {
    width: 100%;
    margin-left:  50px;
}
footer li {
    font-size: 0.4rem;
}
}
@media screen and (max-width:480px){
    .header_box img {
        width:80%;
    }
    .footer_box img {
        width: 80%;
    }
}
