@charset "utf-8";
body {
	font-family: sans-serif,"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic", "メイリオ", Meiryo, ;
	color: #333;
}
img {
    max-width: 100%;
    height: auto;
     -ms-interpolation-mode: bicubic;
}
body {
   background: #c7d8c6;
   font-family: 'Times New Roman', Times, serif;
}
#container {
	margin: 0 auto;
    max-width: 1200px;
	width:66%;
	background: #c7d8c6;
}
img {
    max-width: 100%;
    height: auto;
     -ms-interpolation-mode: bicubic;
}
main {
    width: 100%; 
}
main p {
    line-height: 1.8;
    letter-spacing: 1.6px;
}
h2 {
    font-size: 1.6rem;
    margin:50px auto;
    letter-spacing: 2px;
}
h3{
    margin: 10px;
    font-size: 1.4rem;
    text-align: center;
}
.des {
    margin: 50px;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    font-size: 1.8rem;
}
.section_box {
    padding-bottom: 800px;
    margin: 50px auto;
    width:90%;
    display: flex;
    flex-wrap: wrap;
}
.text {
    margin: 0 auto;
    width:50%;
   text-align: center;
}

@media screen and (max-width:770px){
    nav {
		width: 30%;
		background: orange;
    }
    nav ul {
        display: flex;
		flex-direction: column;
	}
    .triggerBg {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 10;
		background-color: rgba(120, 120, 120, 0.4);
		display: none;
		top: 0;
		left: 0;
	}
    .trigger,
	.trigger span {
		display: inline-block;
		transition: all .2s;
		box-sizing: border-box;
	}
    .trigger {
		position: fixed;
		top: 10px;
		right: 10px;
		cursor: pointer;
		width: 50px;
		height: 44px;
		z-index: 1000;
	}
	.trigger span {
		width: 80%;
		height: 1px;
		background-color: #666;
	}
    .trigger.active span:nth-of-type(1) {
        transform: scaleX(1.4);  
        background-color: brown;  
}
.trigger.active span:nth-of-type(2) {
        transform: scaleX(1.2);  
        background-color: brown; 
}
.trigger.active span:nth-of-type(3) {
        transform: scaleX(1.4);  
        background-color: brown; 
}

.hNavWrap {
	padding: 100px;
	width: 50px;
	height: 100%;
	transition: all 1s;
	transform: translate(300px);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	background: #efd9c1;
}
.hNavWrap.open {
	transform: translate(0);
}
}